<html>
    <head>
        
        
        <title> single article </title>
        
    </head>
    
    <bodyn>
        <h1> single article view </h1>
        <%= request.article.title %>
    </body>
    
</html>