<html>
    
    <head>
        
        
        <title> new article form </title>
        
        
        
    </head>
    
    <body>
        
        <h1>create new article </h1>
        <p>title</p>
        <input type="text" id= "title"/><br/>
        <texttera id = " content"> add content </texttera> <br/><br/>
        
        
        
        <button id="submit">submit </button>
        
        
    </body>
    
</html>